<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.droolsdemo.mapper.RuleMapper">
    <resultMap id="BaseResultMap" type="Rule">
        <result column="id" property="id" jdbcType="BIGINT"></result>
        <result column="content" property="content" jdbcType="VARCHAR"></result>
        <result column="rule_key" property="ruleKey" jdbcType="VARCHAR"></result>
        <result column="del" property="del" jdbcType="TINYINT"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id, content, rule_key, del
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rule
    </select>
</mapper>